.header {
  background-color: #B7B9C5;

  .container {
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1rem 2rem;
  }

  .brand {
    text-transform: uppercase;
  }

  .logout {
    display: flex;
    align-items: center;
    cursor: pointer;

    P {
      margin-right: 0.5rem;
      text-transform: capitalize;
      color: #db0b0b;
    }

    svg {
      width: 26px;
      height: 26px;
    }
  }
}
