.shapes {
  padding: 1rem  0;

  button {
    padding: 0.3rem 1.2rem;
    margin: 0 0.5rem;
    border-radius: 50px;
    background-color: transparent;
    border: 1px solid grey;
    cursor: pointer;
    transition: all .3s;
    text-transform: capitalize;

    &.active {
      background: #62845F;
      border: #62845F 1px solid;
      color: white;
    }

    &:hover {
        	background: #62845F;
        	border: #62845F 1px solid;
        	color: white;
        }
  }
}


.colors{
  padding: 1rem 0;


  span {
    width: 34px;
    height: 34px;
    cursor: pointer;
    border-radius: 50%;
    margin: 0 0.6rem;
    transition: all .3s;


    &.active {
      border: blue 2px solid;
      box-shadow: 0 0 10px 5px blue;
    }
  } 
}


.red { background: red; }
.blue { background: blue; }
.green { background: green; }
.yellow { background: yellow; }
.lightblue { background: skyblue; }
.grey { background: grey; }
